// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#record-list {
  width: 800px;
  list-style: none;
  padding: 0;
  margin: auto;
}

.record-link:nth-child(2n+1) > .record {
  background-color: #eee;
}

.record:hover {
  background-color: #777 !important;
}

.record-name,
.record-email,
.record-title {
  display: block;
  float: left;
  background-color: inherit;
  padding: 5px 0;
}

.record-name {
  width: 200px;
  text-align: center;
}

.record-email {
  width: 240px;
}

.record-title {
  width: 360px;
}

pre {
  white-space: pre-wrap;
  word-break: keep-all;
}
